<main class="main">
  <!-- Page Title -->
  <div class="page-title" appScrollAnimation>
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>{{ 'EXPERIENCE' | translate }}</h1>
            <p class="mb-0">{{ 'EXPERIENCE_INTRO' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a routerLink="/">{{ 'HOME' | translate }}</a></li>
          <li class="current">{{ 'EXPERIENCE' | translate }}</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <!-- Resume Section -->
  <section id="resume" class="resume section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" appScrollAnimation>
          <h3 class="resume-title">{{ 'SUMMARY' | translate }}</h3>
          <div class="resume-item pb-0">
            <h4>Elisamuel Valera</h4>
            <p><em>{{ 'SUMMARY_DESC' | translate }}</em></p>
            <ul>
              <li>Barranquilla - Colombia</li>
              <li>+57 301 668 9643</li>
              <li>elisamuelvalera&#64;gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">{{ 'EDUCATION' | translate }}</h3>
          <div class="resume-item">
            <h4>{{ 'DEGREE_ELECTRONICS' | translate }}</h4>
            <h5>2025</h5>
            <p><em>{{ 'UNIVERSITY_CUC' | translate }}</em></p>
          </div>

          <div class="resume-item">
            <h4>{{ 'DEGREE_MUSIC' | translate }}</h4>
            <h5>2021</h5>
            <p><em>{{ 'UNIVERSITY_UA' | translate }}</em></p>
          </div>

          <div class="resume-item">
            <h4>{{ 'DEGREE_TECHNICIAN' | translate }}</h4>
            <h5>2012</h5>
            <p><em>SENA</em></p>
          </div>
        </div>

        <div class="col-lg-6" appScrollAnimation>
          <h3 class="resume-title">{{ 'EXPERIENCE_LATEST' | translate }}</h3>

          <div class="resume-item">
            <h4>{{ 'JOB_GAMING_DEV' | translate }}</h4>
            <h5>2023 - 2025</h5>
            <p><em>Aventuras Bonitas S.A.S, Barranquilla</em></p>
            <ul>
              <li>{{ 'TASK_MECHANICS' | translate }}</li>
              <li>{{ 'TASK_PROGRAMMING' | translate }}</li>
              <li>{{ 'TASK_AUDIO' | translate }}</li>
              <li>{{ 'TASK_GITHUB' | translate }}</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>{{ 'JOB_TEACHER' | translate }}</h4>
            <h5>2024 - {{ 'PRESENT' | translate }}</h5>
            <p><em>Universidad Sergio Arboleda, Barranquilla</em></p>
            <ul>
              <li>{{ 'TASK_2D_PROGRAMMING' | translate }}</li>
              <li>{{ 'TASK_GAME_DESIGN' | translate }}</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>{{ 'JOB_WEB_DEV' | translate }}</h4>
            <h5>2020 - {{ 'PRESENT' | translate }}</h5>
            <p><em>FUCAESP, Barranquilla</em></p>
            <ul>
              <li>{{ 'TASK_WEB_FUCAESP' | translate }}</li>
              <li>{{ 'TASK_WEB_SUPPORT' | translate }}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section><!-- /Resume Section -->
</main>
