
{% extends 'base.html' %}

{% load static %}

{% block title %} Elisamuel - Contacto {% endblock %}

{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Contacto</h1>
              <p class="mb-0">Contáctame</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li class="current">Contacto</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Correo</h3>
                <p>elisamuelvalera@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Redes Sociales</h3>
                <div class="social-links">
                  <a href="https://www.youtube.com/@ElisamuelStudios"><i class="bi bi-youtube"></i></a>
                  <a href="https://github.com/Elisamuel04"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/elisamuel/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        {% if messages %}
        {% for message in messages %}
            {% if 'contact' in message.tags %}
                <p class="alert alert-success">{{ message }}</p>
            {% endif %}
        {% endfor %}
        {% endif %}

        <form action="{% url 'contact' %}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" id="message" rows="6" placeholder="Mensaje" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <button type="submit" id="submitBtn">Enviar mensaje</button>
            </div>

          </div>
        </form><!-- End Contact Form -->



        <script>
          document.addEventListener("DOMContentLoaded", function () {
              const form = document.querySelector("form");
              const submitBtn = document.getElementById("submitBtn");
      
              form.addEventListener("submit", function () {
                  // Deshabilitar botón y mostrar spinner
                  submitBtn.disabled = true;
                  submitBtn.innerHTML = `
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Enviando...
                  `;
              });
          });
      </script>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% endblock %}