
{% extends 'base.html' %}
{% load static %}

{% block title %} Elisamuel - Portafolio {% endblock %}

{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Portafolio</h1>
              <p class="mb-0">Una muestra de lo que he hecho y he aportado en proyectos</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li class="current">Portafolio</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Todo</li>
            <li data-filter=".filter-games">Games</li>
            <li data-filter=".filter-web">Web</li>
            <li data-filter=".filter-music">Music</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-games">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-1.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Adventure in Hender's Castle</h4>
                  <p>Participación para Aventuras Bonitas S.A.S</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-1.png' %}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-10.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Página web</h4>
                  <p>Desarrollo de página web en Python-Django</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-10.png' %}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-music">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-7.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Ableton Live 11</h4>
                  <p>Composición en Ableton Live</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-7.png' %}" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-games">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-2.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Juego 3D</h4>
                  <p>Proyecto 3D para clases - Barranquilla</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-2.png' %}" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-11.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Portafolio web</h4>
                  <p>Código de desarollo de portafolio web</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-11.png' %}" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-music">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-8.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>FMOD</h4>
                  <p>Sonidos Unity</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-8.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-games">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-3.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Juego 2D</h4>
                  <p>Proyecto 2D para clases - Barranquilla</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-3.png' %}" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-12.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Cpnael</h4>
                  <p>Administración de página con</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-12.png' %}" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-music">
              <div class="portfolio-content h-100">
                <img src="{% static 'assets/img/portfolio/portfolio-9.jpeg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Piano</h4>
                  <p>Labores musicales</p>
                  <a href="{% static 'assets/img/portfolio/portfolio-9.jpeg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

  </main>

{% endblock %}
