
{% extends 'base.html' %}

{% load static %}

{% block title %} Elisamuel - Experiencia {% endblock %}

{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Experiencia</h1>
              <p class="mb-0">Mi enfoque actual se encuentra en el desarrollo de videojuegos y el desarrollo web</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li class="current">Experiencia</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Resúmen</h3>

            <div class="resume-item pb-0">
              <h4>Elisamuel Valera</h4>
              <p><em>Desarrollador de videojuegos, creaciones orquestales y desarrollo web</em></p>
              <ul>
                <li>Barranquilla - Colombia</li>
                <li>+57 301 668 9643</li>
                <li>elisamuelvalera@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Educación principal</h3>
            <div class="resume-item">
              <h4>Ingenieria Electrónica</h4>
              <h5>2025</h5>
              <p><em>Universidad de la Costa, Barranquilla</em></p>
              <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Licenciatura en Música</h4>
              <h5>2021</h5>
              <p><em>Universidad del Atlántico, Barranquilla</em></p>
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Técnico en Programación de Software</h4>
              <h5>2012</h5>
              <p><em>SENA</em></p>
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Últimas experiencias</h3>
            <div class="resume-item">
              <h4>Desarrollador de videojuegos</h4>
              <h5>2023 - 2025</h5>
              <p><em>Aventuras Bonitas S.A.S, Barranquilla </em></p>
              <ul>
                <li>Implementación de mecánicas de Juegos</li>
                <li>Programación en C#</li>
                <li>Integración y creación de Sonidos con FMOD y Ableton 11 live</li>
                <li>Github - Repositorios</li>
              </ul>
            </div><!-- Edn Resume Item -->

            

            <div class="resume-item">
              <h4>Docente</h4>
              <h5>2024 - Presente</h5>
              <p><em>Universidad Sergio Arboleda, Barranquilla</em></p>
              <ul>
                <li>Programación de videojuegos 2D</li>
                <li>Diseño de videojuegos I</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Desarrollador web</h4>
              <h5>2020 - Presente</h5>
              <p><em>FUCAESP, Barranquilla</em></p>
              <ul>
                <li>Desarrollador web <a href="https://www.fucaesp.org">FUCAESP</a></li>
                <li>Soporte Web</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

    {% endblock %}